
# Glue Studio Notebook
You are now running a **Glue Studio** notebook; before you can start using your notebook you *must* start an interactive session.

## Available Magics
|          Magic              |   Type       |                                                                        Description                                                                        |
|-----------------------------|--------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
| %%configure                 |  Dictionary  |  A json-formatted dictionary consisting of all configuration parameters for a session. Each parameter can be specified here or through individual magics. |
| %profile                    |  String      |  Specify a profile in your aws configuration to use as the credentials provider.                                                                          |
| %iam_role                   |  String      |  Specify an IAM role to execute your session with.                                                                                                        |
| %region                     |  String      |  Specify the AWS region in which to initialize a session.                                                                                                 |
| %session_id                 |  String      |  Returns the session ID for the running session.                                                                                                          |
| %connections                |  List        |  Specify a comma separated list of connections to use in the session.                                                                                     |
| %additional_python_modules  |  List        |  Comma separated list of pip packages, s3 paths or private pip arguments.                                                                                 |
| %extra_py_files             |  List        |  Comma separated list of additional Python files from S3.                                                                                                 |
| %extra_jars                 |  List        |  Comma separated list of additional Jars to include in the cluster.                                                                                       |
| %number_of_workers          |  Integer     |  The number of workers of a defined worker_type that are allocated when a job runs. worker_type must be set too.                                          |
| %glue_version               |  String      |  The version of Glue to be used by this session. Currently, the only valid options are 2.0 and 3.0 (eg: %glue_version 2.0).                               |
| %security_config            |  String      |  Define a security configuration to be used with this session.                                                                                            |
| %sql                        |  String      |  Run SQL code. All lines after the initial %%sql magic will be passed as part of the SQL code.                                                            |
| %streaming                  |  String      |  Changes the session type to Glue Streaming.                                                                                                              |
| %etl                        |  String      |  Changes the session type to Glue ETL.                                                                                                                    |
| %status                     |              |  Returns the status of the current Glue session including its duration, configuration and executing user / role.                                          |
| %stop_session               |              |  Stops the current session.                                                                                                                               |
| %list_sessions              |              |  Lists all currently running sessions by name and ID.                                                                                                     |
| %worker_type                |  String      |  Standard, G.1X, *or* G.2X. number_of_workers must be set too. Default is G.1X.                                                                           |
| %spark_conf                 |  String      |  Specify custom spark configurations for your session. E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer.                      |

## Introduction

In [1]:
#Import libraries, create Spark and Glue context, initiate spark session

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job

sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.37.0
Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::484830312924:role/Glue-admin-role-for-RS
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 5
Session ID: e794d591-e4e7-407f-915f-241a82702176
Job Type: glueetl
Applying the following default arguments:
--glue_kernel_version 0.37.0
--enable-glue-datacatalog true
Waiting for session e794d591-e4e7-407f-915f-241a82702176 to get into ready status...
Session e794d591-e4e7-407f-915f-241a82702176 has been created.

## Glue DynamicFrames
### Create DynamicFrame for each of the 3 datasets

In [2]:
# Create DynamicFrame for Customer dataset
customer = glueContext.create_dynamic_frame.from_catalog(
    database = "retail_s3", 
    table_name = "customer")

In [3]:
# Print number of records in the DynamicFrame and print schema
print("Record Count: ", customer.count())
customer.printSchema()

Record Count:  4375
root
|-- customer_id: long
|-- title: string
|-- first_name: string
|-- middle_name: string
|-- last_name: string
|-- company_name: string
|-- email_address: string
|-- phone_no: string
|-- join_date: string

In [4]:
# View records from Customer dynamicframe
customer.show(10)

{"customer_id": 17850, "title": "Mr.", "first_name": "Orlando", "middle_name": "N.", "last_name": "Gee", "company_name": "A Bike Store", "email_address": "orlando0@adventure-works.com", "phone_no": "245-555-0173", "join_date": "8/1/05 0:00"}
{"customer_id": 13047, "title": "Mr.", "first_name": "Keith", "middle_name": "", "last_name": "Harris", "company_name": "Progressive Sports", "email_address": "keith0@adventure-works.com", "phone_no": "170-555-0127", "join_date": "8/1/06 0:00"}
{"customer_id": 12583, "title": "Ms.", "first_name": "Donna", "middle_name": "F.", "last_name": "Carreras", "company_name": "Advanced Bike Components", "email_address": "donna0@adventure-works.com", "phone_no": "279-555-0130", "join_date": "9/1/05 0:00"}
{"customer_id": 13748, "title": "Ms.", "first_name": "Janet", "middle_name": "M.", "last_name": "Gates", "company_name": "Modular Cycle Systems", "email_address": "janet1@adventure-works.com", "phone_no": "710-555-0173", "join_date": "7/1/06 0:00"}
{"customer_id": 15100, "title": "Mr.", "first_name": "Lucy", "middle_name": "", "last_name": "Harrington", "company_name": "Metropolitan Sports Supply", "email_address": "lucy0@adventure-works.com", "phone_no": "828-555-0186", "join_date": "9/1/06 0:00"}
{"customer_id": 15291, "title": "Ms.", "first_name": "Rosmarie", "middle_name": "J.", "last_name": "Carroll", "company_name": "Aerobic Exercise Company", "email_address": "rosmarie0@adventure-works.com", "phone_no": "244-555-0112", "join_date": "9/1/07 0:00"}
{"customer_id": 14688, "title": "Mr.", "first_name": "Dominic", "middle_name": "P.", "last_name": "Gash", "company_name": "Associated Bikes", "email_address": "dominic0@adventure-works.com", "phone_no": "192-555-0173", "join_date": "7/1/06 0:00"}
{"customer_id": 17809, "title": "Ms.", "first_name": "Kathleen", "middle_name": "M.", "last_name": "Garza", "company_name": "Rural Cycle Emporium", "email_address": "kathleen0@adventure-works.com", "phone_no": "150-555-0127", "join_date": "9/1/06 0:00"}
{"customer_id": 15311, "title": "Ms.", "first_name": "Katherine", "middle_name": "", "last_name": "Harding", "company_name": "Sharp Bikes", "email_address": "katherine0@adventure-works.com", "phone_no": "926-555-0159", "join_date": "8/1/05 0:00"}
{"customer_id": 14527, "title": "Mr.", "first_name": "Johnny", "middle_name": "A.", "last_name": "Caprio", "company_name": "Bikes and Motorbikes", "email_address": "johnny0@adventure-works.com", "phone_no": "112-555-0191", "join_date": "8/1/06 0:00"}
{"customer_id": 16098, "title": "Mr.", "first_name": "Christopher", "middle_name": "R.", "last_name": "Beck", "company_name": "Bulk Discount Store", "email_address": "christopher1@adventure-works.com", "phone_no": "1 (11) 500 555-0132", "join_date": "9/1/06 0:00"}
{"customer_id": 18074, "title": "Mr.", "first_name": "David", "middle_name": "J.", "last_name": "Liu", "company_name": "Catalog Store", "email_address": "david20@adventure-works.com", "phone_no": "440-555-0132", "join_date": "8/1/05 0:00"}
{"customer_id": 17420, "title": "Mr.", "first_name": "John", "middle_name": "A.", "last_name": "Beaver", "company_name": "Center Cycle Shop", "email_address": "john8@adventure-works.com", "phone_no": "521-555-0195", "join_date": "4/1/07 0:00"}
{"customer_id": 16029, "title": "Ms.", "first_name": "Jean", "middle_name": "P.", "last_name": "Handley", "company_name": "Central Discount Store", "email_address": "jean1@adventure-works.com", "phone_no": "582-555-0113", "join_date": "9/1/05 0:00"}
{"customer_id": 16250, "title": "", "first_name": "Jinghao", "middle_name": "", "last_name": "Liu", "company_name": "Chic Department Stores", "email_address": "jinghao1@adventure-works.com", "phone_no": "928-555-0116", "join_date": "9/1/06 0:00"}
{"customer_id": 12431, "title": "Ms.", "first_name": "Linda", "middle_name": "E.", "last_name": "Burnett", "company_name": "Travel Systems", "email_address": "linda4@adventure-works.com", "phone_no": "121-555-0121", "join_date": "8/1/05 0:00"}
{"customer_id": 17511, "title": "Mr.", "first_name": "Kerim", "middle_name": "", "last_name": "Hanif", "company_name": "Bike World", "email_address": "kerim0@adventure-works.com", "phone_no": "216-555-0122", "join_date": "9/1/06 0:00"}
{"customer_id": 17548, "title": "Mr.", "first_name": "Kevin", "middle_name": "", "last_name": "Liu", "company_name": "Eastside Department Store", "email_address": "kevin5@adventure-works.com", "phone_no": "926-555-0164", "join_date": "9/1/06 0:00"}
{"customer_id": 13705, "title": "Mr.", "first_name": "Donald", "middle_name": "L.", "last_name": "Blanton", "company_name": "Coalition Bike Company", "email_address": "donald0@adventure-works.com", "phone_no": "357-555-0161", "join_date": "9/1/06 0:00"}
{"customer_id": 13747, "title": "Ms.", "first_name": "Jackie", "middle_name": "E.", "last_name": "Blackwell", "company_name": "Commuter Bicycle Store", "email_address": "jackie0@adventure-works.com", "phone_no": "972-555-0163", "join_date": "8/1/07 0:00"}

In [5]:
# Create DynamicFrame for Sales dataset
sales = glueContext.create_dynamic_frame.from_catalog(
    database = "retail_s3",
    table_name = "sales")

In [6]:
# Print number of records in the DynamicFrame and print schema
print("Record Count: ", sales.count())
sales.printSchema()

Record Count:  541909
root
|-- invoice_no: string
|-- product_id: string
|-- quantity: long
|-- invoice_date: string
|-- unit_price: double
|-- customer_id: long
|-- country: string

In [7]:
# View records from Sales dynamicframe
sales.show(10)

{"invoice_no": "536365", "product_id": "85123A", "quantity": 6, "invoice_date": "12/1/10 8:26", "unit_price": 2.55, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536365", "product_id": "71053", "quantity": 6, "invoice_date": "12/1/10 8:26", "unit_price": 3.39, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536365", "product_id": "84406B", "quantity": 8, "invoice_date": "12/1/10 8:26", "unit_price": 2.75, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536365", "product_id": "84029G", "quantity": 6, "invoice_date": "12/1/10 8:26", "unit_price": 3.39, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536365", "product_id": "84029E", "quantity": 6, "invoice_date": "12/1/10 8:26", "unit_price": 3.39, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536365", "product_id": "22752", "quantity": 2, "invoice_date": "12/1/10 8:26", "unit_price": 7.65, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536365", "product_id": "21730", "quantity": 6, "invoice_date": "12/1/10 8:26", "unit_price": 4.25, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536366", "product_id": "22633", "quantity": 6, "invoice_date": "12/1/10 8:28", "unit_price": 1.85, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536366", "product_id": "22632", "quantity": 6, "invoice_date": "12/1/10 8:28", "unit_price": 1.85, "customer_id": 17850, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "84879", "quantity": 32, "invoice_date": "12/1/10 8:34", "unit_price": 1.69, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "22745", "quantity": 6, "invoice_date": "12/1/10 8:34", "unit_price": 2.1, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "22748", "quantity": 6, "invoice_date": "12/1/10 8:34", "unit_price": 2.1, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "22749", "quantity": 8, "invoice_date": "12/1/10 8:34", "unit_price": 3.75, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "22310", "quantity": 6, "invoice_date": "12/1/10 8:34", "unit_price": 1.65, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "84969", "quantity": 6, "invoice_date": "12/1/10 8:34", "unit_price": 4.25, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "22623", "quantity": 3, "invoice_date": "12/1/10 8:34", "unit_price": 4.95, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "22622", "quantity": 2, "invoice_date": "12/1/10 8:34", "unit_price": 9.95, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "21754", "quantity": 3, "invoice_date": "12/1/10 8:34", "unit_price": 5.95, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "21755", "quantity": 3, "invoice_date": "12/1/10 8:34", "unit_price": 5.95, "customer_id": 13047, "country": "United Kingdom"}
{"invoice_no": "536367", "product_id": "21777", "quantity": 4, "invoice_date": "12/1/10 8:34", "unit_price": 7.95, "customer_id": 13047, "country": "United Kingdom"}

In [14]:
# Create DynamicFrame for Product dataset
product = glueContext.create_dynamic_frame.from_catalog(
    database = "retail_s3",
    table_name = "product")

In [15]:
# Print number of records in the DynamicFrame and print schema
print("Record Count: ", product.count())
product.printSchema()

Record Count:  3960
root
|-- product_id: string
|-- product_desc: string

In [16]:
# View records from Product dynamicframe
product.show(10)

{"product_id": "product_id", "product_desc": "product_desc"}
{"product_id": "85123A", "product_desc": "WHITE HANGING HEART T-LIGHT HOLDER"}
{"product_id": "71053", "product_desc": "WHITE METAL LANTERN"}
{"product_id": "84406B", "product_desc": "CREAM CUPID HEARTS COAT HANGER"}
{"product_id": "84029G", "product_desc": "KNITTED UNION FLAG HOT WATER BOTTLE"}
{"product_id": "84029E", "product_desc": "RED WOOLLY HOTTIE WHITE HEART."}
{"product_id": "22752", "product_desc": "SET 7 BABUSHKA NESTING BOXES"}
{"product_id": "21730", "product_desc": "GLASS STAR FROSTED T-LIGHT HOLDER"}
{"product_id": "22633", "product_desc": "HAND WARMER UNION JACK"}
{"product_id": "22632", "product_desc": "HAND WARMER RED POLKA DOT"}
{"product_id": "84879", "product_desc": "ASSORTED COLOUR BIRD ORNAMENT"}
{"product_id": "22745", "product_desc": "POPPY'S PLAYHOUSE BEDROOM "}
{"product_id": "22748", "product_desc": "POPPY'S PLAYHOUSE KITCHEN"}
{"product_id": "22749", "product_desc": "FELTCRAFT PRINCESS CHARLOTTE DOLL"}
{"product_id": "22310", "product_desc": "IVORY KNITTED MUG COSY "}
{"product_id": "84969", "product_desc": "BOX OF 6 ASSORTED COLOUR TEASPOONS"}
{"product_id": "22623", "product_desc": "BOX OF VINTAGE JIGSAW BLOCKS "}
{"product_id": "22622", "product_desc": "BOX OF VINTAGE ALPHABET BLOCKS"}
{"product_id": "21754", "product_desc": "HOME BUILDING BLOCK WORD"}
{"product_id": "21755", "product_desc": "LOVE BUILDING BLOCK WORD"}

### Perform Select, Join, Filter Operations

In [17]:
# Now that we have all the 3 source data files loaded into memory as part of creating the dynamic frame
# Let's join all the 3 dynamic frames to get the combined view
# DynamicFrame provides various classes like filter, join, map, count etc which we can use for our data transformations.
# For more details, please refer to the Glue Developer Guide doc -> https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-crawler-pyspark-extensions-dynamic-frame.html#aws-glue-api-crawler-pyspark-extensions-dynamic-frame-toDF

joinedDyF = Join.apply(customer, Join.apply(sales, product, "product_id", "product_id"), "customer_id", "customer_id")

In [18]:
# as the joined dyanmic frame will have wider columns from all the 3 dynamic frames, we will use a DynamicFrame class called "select_fields" to display only a set of selective fileds

selectColumnsDyF = joinedDyF.select_fields(paths=["customer_id", "first_name", "last_name", "product_id", "product_desc", "quantity", "unit_price", "country", "invoice_no"])

In [19]:
# Let's view the data and count
selectColumnsDyF.show(10)

print("Record count: ", selectColumnsDyF.count())

{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "21080", "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "quantity": 12, "unit_price": 0.85, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "21080", "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "quantity": 12, "unit_price": 0.85, "country": "United Kingdom", "invoice_no": "559326"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "47590B", "product_desc": "YELLOW METAL CHICKEN HEART ", "quantity": 3, "unit_price": 5.45, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "46000S", "product_desc": "BEACH HUT KEY CABINET", "quantity": 4, "unit_price": 1.45, "country": "United Kingdom", "invoice_no": "571657"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "21888", "product_desc": "BINGO SET", "quantity": 4, "unit_price": 3.75, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "21936", "product_desc": "KNITTED RABBIT DOLL ", "quantity": 5, "unit_price": 2.95, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "21936", "product_desc": "KNITTED RABBIT DOLL ", "quantity": 10, "unit_price": 2.95, "country": "United Kingdom", "invoice_no": "559326"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "22728", "product_desc": "ALARM CLOCK BAKELIKE PINK", "quantity": 4, "unit_price": 3.75, "country": "United Kingdom", "invoice_no": "571657"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "23343", "product_desc": "MIRRORED WALL ART SNOWFLAKES", "quantity": 10, "unit_price": 2.08, "country": "United Kingdom", "invoice_no": "571657"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "23284", "product_desc": "LASER CUT MULTI STRAND NECKLACE", "quantity": 4, "unit_price": 7.95, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "23284", "product_desc": "LASER CUT MULTI STRAND NECKLACE", "quantity": 4, "unit_price": 7.95, "country": "United Kingdom", "invoice_no": "559326"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "22189", "product_desc": "ENAMEL FLOWER JUG CREAM", "quantity": 4, "unit_price": 3.95, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "22772", "product_desc": "PINK DRAWER KNOB ACRYLIC EDWARDIAN", "quantity": 12, "unit_price": 1.25, "country": "United Kingdom", "invoice_no": "571657"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "22998", "product_desc": "LUNCH BAG SUKI DESIGN ", "quantity": 24, "unit_price": 0.42, "country": "United Kingdom", "invoice_no": "559326"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "47590A", "product_desc": "MIDNIGHT GLAMOUR SCARF KNITTING KIT", "quantity": 3, "unit_price": 5.45, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "85123A", "product_desc": "WHITE HANGING HEART T-LIGHT HOLDER", "quantity": 6, "unit_price": 2.95, "country": "United Kingdom", "invoice_no": "576346"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "85123A", "product_desc": "EDWARDIAN PARASOL RED", "quantity": 6, "unit_price": 2.95, "country": "United Kingdom", "invoice_no": "576346"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "23229", "product_desc": "36 DOILIES VINTAGE CHRISTMAS", "quantity": 6, "unit_price": 3.75, "country": "United Kingdom", "invoice_no": "559326"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "22464", "product_desc": "HANGING MEDINA LANTERN SMALL", "quantity": 12, "unit_price": 1.65, "country": "United Kingdom", "invoice_no": "552309"}
{"customer_id": 13835, "first_name": "Todd", "last_name": "Logan", "product_id": "22666", "product_desc": "RECIPE BOX PANTRY YELLOW DESIGN", "quantity": 6, "unit_price": 2.95, "country": "United Kingdom", "invoice_no": "552309"}

Record count:  542060

In [20]:
# Now let's look at filtering the data, get the records which have country = 'United Kingdom"
filteredDyF = Filter.apply(frame = selectColumnsDyF,
                           f = lambda x: x["country"] in "United Kingdom"
                          )

In [21]:
# Let's view the data and count
filteredDyF.show(10)

print("Record count: ", filteredDyF.count())

{"product_id": "21086", "first_name": "Todd", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "POLKADOT RAIN HAT ", "invoice_no": "552309", "quantity": 12, "last_name": "Logan"}
{"product_id": "21086", "first_name": "Todd", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "POLKADOT RAIN HAT ", "invoice_no": "559326", "quantity": 12, "last_name": "Logan"}
{"product_id": "22821", "first_name": "Todd", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "ASSORTED COLOURS SILK FAN", "invoice_no": "571657", "quantity": 12, "last_name": "Logan"}
{"product_id": "85048", "first_name": "Todd", "unit_price": 7.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CREAM SWEETHEART LETTER RACK", "invoice_no": "571657", "quantity": 2, "last_name": "Logan"}
{"product_id": "85048", "first_name": "Todd", "unit_price": 7.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CREAM SWEETHEART LETTER RACK", "invoice_no": "576346", "quantity": 2, "last_name": "Logan"}
{"product_id": "22355", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CHARLOTTE BAG SUKI DESIGN", "invoice_no": "576346", "quantity": 10, "last_name": "Logan"}
{"product_id": "23332", "first_name": "Todd", "unit_price": 1.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET OF 6 SNACK LOAF BAKING CASES", "invoice_no": "576346", "quantity": 12, "last_name": "Logan"}
{"product_id": "23431", "first_name": "Todd", "unit_price": 0.83, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BLUE/YELLOW CERAMIC CANDLE HOLDER", "invoice_no": "576346", "quantity": 12, "last_name": "Logan"}
{"product_id": "22380", "first_name": "Todd", "unit_price": 2.1, "country": "United Kingdom", "customer_id": 13835, "product_desc": "TOY TIDY SPACEBOY  ", "invoice_no": "552309", "quantity": 5, "last_name": "Logan"}
{"product_id": "22381", "first_name": "Todd", "unit_price": 2.1, "country": "United Kingdom", "customer_id": 13835, "product_desc": "ANTIQUE GLASS DRESSING TABLE POT", "invoice_no": "552309", "quantity": 5, "last_name": "Logan"}
{"product_id": "22381", "first_name": "Todd", "unit_price": 2.1, "country": "United Kingdom", "customer_id": 13835, "product_desc": "ANTIQUE GLASS DRESSING TABLE POT", "invoice_no": "559326", "quantity": 5, "last_name": "Logan"}
{"product_id": "21094", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "LUNCH BAG RED RETROSPOT", "invoice_no": "552309", "quantity": 12, "last_name": "Logan"}
{"product_id": "21094", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "LUNCH BAG RED RETROSPOT", "invoice_no": "559326", "quantity": 12, "last_name": "Logan"}
{"product_id": "22384", "first_name": "Todd", "unit_price": 1.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "LUNCH BAG PINK POLKADOT", "invoice_no": "559326", "quantity": 10, "last_name": "Logan"}
{"product_id": "22189", "first_name": "Todd", "unit_price": 3.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "ENAMEL FLOWER JUG CREAM", "invoice_no": "552309", "quantity": 4, "last_name": "Logan"}
{"product_id": "21080", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "invoice_no": "552309", "quantity": 12, "last_name": "Logan"}
{"product_id": "21080", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "invoice_no": "559326", "quantity": 12, "last_name": "Logan"}
{"product_id": "47590B", "first_name": "Todd", "unit_price": 5.45, "country": "United Kingdom", "customer_id": 13835, "product_desc": "YELLOW METAL CHICKEN HEART ", "invoice_no": "552309", "quantity": 3, "last_name": "Logan"}
{"product_id": "22998", "first_name": "Todd", "unit_price": 0.42, "country": "United Kingdom", "customer_id": 13835, "product_desc": "LUNCH BAG SUKI DESIGN ", "invoice_no": "559326", "quantity": 24, "last_name": "Logan"}
{"product_id": "47590A", "first_name": "Todd", "unit_price": 5.45, "country": "United Kingdom", "customer_id": 13835, "product_desc": "MIDNIGHT GLAMOUR SCARF KNITTING KIT", "invoice_no": "552309", "quantity": 3, "last_name": "Logan"}

Record count:  495546

## Drop Fields, Rename columns

In [18]:
# Drop field invoice_no
dropFieldsDyF = filteredDyF.drop_fields(["invoice_no"])
dropFieldsDyF.show(10)

{"first_name": "Todd", "product_id": "21086", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "POLKADOT RAIN HAT ", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "21086", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "POLKADOT RAIN HAT ", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "22821", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "ASSORTED COLOURS SILK FAN", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "85048", "unit_price": 7.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CREAM SWEETHEART LETTER RACK", "quantity": 2, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "85048", "unit_price": 7.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CREAM SWEETHEART LETTER RACK", "quantity": 2, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "22355", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CHARLOTTE BAG SUKI DESIGN", "quantity": 10, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "72807C", "unit_price": 4.25, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/3 VANILLA SCENTED CANDLE IN BOX", "quantity": 4, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "23332", "unit_price": 1.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET OF 6 SNACK LOAF BAKING CASES", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "23431", "unit_price": 0.83, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BLUE/YELLOW CERAMIC CANDLE HOLDER", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "23487", "unit_price": 9.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "PANTRY HOOK SPATULA", "quantity": 1, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "47591D", "unit_price": 1.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "PINK FAIRY CAKE CHILDRENS APRON", "quantity": 8, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "22505", "unit_price": 4.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BLUE GLASS CHUNKY CHARM BRACELET", "quantity": 4, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "22596", "unit_price": 1.25, "country": "United Kingdom", "customer_id": 13835, "product_desc": "STEEL SWEETHEART ROUND TABLE CREAM", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "22307", "unit_price": 1.06, "country": "United Kingdom", "customer_id": 13835, "product_desc": "MULTI HEARTS  STICKERS", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "21155", "unit_price": 2.55, "country": "United Kingdom", "customer_id": 13835, "product_desc": "4 SKY BLUE DINNER CANDLES", "quantity": 6, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "22380", "unit_price": 2.1, "country": "United Kingdom", "customer_id": 13835, "product_desc": "TOY TIDY SPACEBOY  ", "quantity": 5, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "21080", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "21080", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "quantity": 12, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "47590B", "unit_price": 5.45, "country": "United Kingdom", "customer_id": 13835, "product_desc": "YELLOW METAL CHICKEN HEART ", "quantity": 3, "last_name": "Logan"}
{"first_name": "Todd", "product_id": "46000S", "unit_price": 1.45, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BEACH HUT KEY CABINET", "quantity": 4, "last_name": "Logan"}

In [19]:
# Rename column / Change Field name: quantity to qty
dropFieldsDyF.rename_field("quantity", "qty").show(10)

{"product_id": "21086", "first_name": "Todd", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "POLKADOT RAIN HAT ", "qty": 12, "last_name": "Logan"}
{"product_id": "21086", "first_name": "Todd", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "POLKADOT RAIN HAT ", "qty": 12, "last_name": "Logan"}
{"product_id": "22821", "first_name": "Todd", "unit_price": 0.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "ASSORTED COLOURS SILK FAN", "qty": 12, "last_name": "Logan"}
{"product_id": "85048", "first_name": "Todd", "unit_price": 7.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CREAM SWEETHEART LETTER RACK", "qty": 2, "last_name": "Logan"}
{"product_id": "85048", "first_name": "Todd", "unit_price": 7.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CREAM SWEETHEART LETTER RACK", "qty": 2, "last_name": "Logan"}
{"product_id": "22355", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "CHARLOTTE BAG SUKI DESIGN", "qty": 10, "last_name": "Logan"}
{"product_id": "72807C", "first_name": "Todd", "unit_price": 4.25, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/3 VANILLA SCENTED CANDLE IN BOX", "qty": 4, "last_name": "Logan"}
{"product_id": "23332", "first_name": "Todd", "unit_price": 1.65, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET OF 6 SNACK LOAF BAKING CASES", "qty": 12, "last_name": "Logan"}
{"product_id": "23431", "first_name": "Todd", "unit_price": 0.83, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BLUE/YELLOW CERAMIC CANDLE HOLDER", "qty": 12, "last_name": "Logan"}
{"product_id": "23487", "first_name": "Todd", "unit_price": 9.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "PANTRY HOOK SPATULA", "qty": 1, "last_name": "Logan"}
{"product_id": "47591D", "first_name": "Todd", "unit_price": 1.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "PINK FAIRY CAKE CHILDRENS APRON", "qty": 8, "last_name": "Logan"}
{"product_id": "22505", "first_name": "Todd", "unit_price": 4.95, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BLUE GLASS CHUNKY CHARM BRACELET", "qty": 4, "last_name": "Logan"}
{"product_id": "22596", "first_name": "Todd", "unit_price": 1.25, "country": "United Kingdom", "customer_id": 13835, "product_desc": "STEEL SWEETHEART ROUND TABLE CREAM", "qty": 12, "last_name": "Logan"}
{"product_id": "22307", "first_name": "Todd", "unit_price": 1.06, "country": "United Kingdom", "customer_id": 13835, "product_desc": "MULTI HEARTS  STICKERS", "qty": 12, "last_name": "Logan"}
{"product_id": "21155", "first_name": "Todd", "unit_price": 2.55, "country": "United Kingdom", "customer_id": 13835, "product_desc": "4 SKY BLUE DINNER CANDLES", "qty": 6, "last_name": "Logan"}
{"product_id": "22380", "first_name": "Todd", "unit_price": 2.1, "country": "United Kingdom", "customer_id": 13835, "product_desc": "TOY TIDY SPACEBOY  ", "qty": 5, "last_name": "Logan"}
{"product_id": "21080", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "qty": 12, "last_name": "Logan"}
{"product_id": "21080", "first_name": "Todd", "unit_price": 0.85, "country": "United Kingdom", "customer_id": 13835, "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "qty": 12, "last_name": "Logan"}
{"product_id": "47590B", "first_name": "Todd", "unit_price": 5.45, "country": "United Kingdom", "customer_id": 13835, "product_desc": "YELLOW METAL CHICKEN HEART ", "qty": 3, "last_name": "Logan"}
{"product_id": "46000S", "first_name": "Todd", "unit_price": 1.45, "country": "United Kingdom", "customer_id": 13835, "product_desc": "BEACH HUT KEY CABINET", "qty": 4, "last_name": "Logan"}

In [20]:
# Another way to remane a column is by applying mapping similar to the Glue Studio -> Actions -> ApplyMappings
# With mapping, we can also change the datatypes
mapping = [("first_name","string","first_name","string"),("last_name","string","last_name","string"),("product_id","string","product_id","string"),("product_desc","string","product_desc","string"),("unit_price","double","unit_price","double"),
           ("customer_id","long","customer_id","long"),("country","string","country","string"),("quantity","long","qty","long")]

mapDyF = ApplyMapping.apply(
    frame = dropFieldsDyF,
    mappings = mapping
)

mapDyF.show(10)

{"first_name": "Todd", "last_name": "Logan", "product_id": "21086", "product_desc": "POLKADOT RAIN HAT ", "unit_price": 0.65, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "21086", "product_desc": "POLKADOT RAIN HAT ", "unit_price": 0.65, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "22821", "product_desc": "ASSORTED COLOURS SILK FAN", "unit_price": 0.65, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "85048", "product_desc": "CREAM SWEETHEART LETTER RACK", "unit_price": 7.95, "customer_id": 13835, "country": "United Kingdom", "qty": 2}
{"first_name": "Todd", "last_name": "Logan", "product_id": "85048", "product_desc": "CREAM SWEETHEART LETTER RACK", "unit_price": 7.95, "customer_id": 13835, "country": "United Kingdom", "qty": 2}
{"first_name": "Todd", "last_name": "Logan", "product_id": "22355", "product_desc": "CHARLOTTE BAG SUKI DESIGN", "unit_price": 0.85, "customer_id": 13835, "country": "United Kingdom", "qty": 10}
{"first_name": "Todd", "last_name": "Logan", "product_id": "72807C", "product_desc": "SET/3 VANILLA SCENTED CANDLE IN BOX", "unit_price": 4.25, "customer_id": 13835, "country": "United Kingdom", "qty": 4}
{"first_name": "Todd", "last_name": "Logan", "product_id": "23332", "product_desc": "SET OF 6 SNACK LOAF BAKING CASES", "unit_price": 1.65, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "23431", "product_desc": "BLUE/YELLOW CERAMIC CANDLE HOLDER", "unit_price": 0.83, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "23487", "product_desc": "PANTRY HOOK SPATULA", "unit_price": 9.95, "customer_id": 13835, "country": "United Kingdom", "qty": 1}
{"first_name": "Todd", "last_name": "Logan", "product_id": "47591D", "product_desc": "PINK FAIRY CAKE CHILDRENS APRON", "unit_price": 1.95, "customer_id": 13835, "country": "United Kingdom", "qty": 8}
{"first_name": "Todd", "last_name": "Logan", "product_id": "22505", "product_desc": "BLUE GLASS CHUNKY CHARM BRACELET", "unit_price": 4.95, "customer_id": 13835, "country": "United Kingdom", "qty": 4}
{"first_name": "Todd", "last_name": "Logan", "product_id": "22596", "product_desc": "STEEL SWEETHEART ROUND TABLE CREAM", "unit_price": 1.25, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "22307", "product_desc": "MULTI HEARTS  STICKERS", "unit_price": 1.06, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "21155", "product_desc": "4 SKY BLUE DINNER CANDLES", "unit_price": 2.55, "customer_id": 13835, "country": "United Kingdom", "qty": 6}
{"first_name": "Todd", "last_name": "Logan", "product_id": "22380", "product_desc": "TOY TIDY SPACEBOY  ", "unit_price": 2.1, "customer_id": 13835, "country": "United Kingdom", "qty": 5}
{"first_name": "Todd", "last_name": "Logan", "product_id": "21080", "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "unit_price": 0.85, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "21080", "product_desc": "SET/6 RED SPOTTY PAPER CUPS", "unit_price": 0.85, "customer_id": 13835, "country": "United Kingdom", "qty": 12}
{"first_name": "Todd", "last_name": "Logan", "product_id": "47590B", "product_desc": "YELLOW METAL CHICKEN HEART ", "unit_price": 5.45, "customer_id": 13835, "country": "United Kingdom", "qty": 3}
{"first_name": "Todd", "last_name": "Logan", "product_id": "46000S", "product_desc": "BEACH HUT KEY CABINET", "unit_price": 1.45, "customer_id": 13835, "country": "United Kingdom", "qty": 4}

## Persist data to S3

In [21]:
# Write data to S3
glueContext.write_dynamic_frame.from_options(
    frame = mapDyF,
    connection_type = "s3",
    connection_options = {"path":"s3://redshift-spark-integration/data/tgt/"},
    format = "parquet"
)

<awsglue.dynamicframe.DynamicFrame object at 0x7f0b2b6dced0>

## Spark DataFrame
As the name suggestes, Glue DynamicFrames are truely dynamic in that you can convert a DynamicFrame to an Apache DataFrame converting DynamicRecords into DataFrame rows and Viceversa.<br>
For any given ETL job, You an take advantage of the DynamicFrame which is memory optimized, i.e, "The executor memory with AWS Glue dynamicFrame never exceeds the safe threshold, and will not hit the "Out of memory" issues. <br>
A DynamicRecord represents a logical record in a DynamicFrame which is self-describing and can be used for data that does not conform to a fixed schema.<br>
With these and many more advantages that the DynamicFrame provides, you have the full flexibility to convert the DynamicFrames to DataFrames when you want to use the DataFrame functionality and convert it back to DynamicFrame and continue with your ETL script until you write the data to one of the supported targets.

In [22]:
# Now Let's conver the DynamicFrame to a DataFrame
salesDF = selectColumnsDyF.toDF()

In [26]:
# Print Schema of the Spark DataFrame
salesDF.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_desc: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- country: string (nullable = true)
 |-- invoice_no: string (nullable = true)

In [23]:
# Select columns from the DataFrame, unlike Glue DynamicFrame, the output of a DataFrame is in tabular format
salesDF.select("customer_id","product_id","country").show()

+-----------+----------+--------------+
|customer_id|product_id|       country|
+-----------+----------+--------------+
|      13835|     22189|United Kingdom|
|      13835|     22772|United Kingdom|
|      13835|     22464|United Kingdom|
|      13835|     22666|United Kingdom|
|      13835|    51014A|United Kingdom|
|      13835|     23399|United Kingdom|
|      13835|     23407|United Kingdom|
|      13835|    72807C|United Kingdom|
|      13835|     23487|United Kingdom|
|      13835|    47591D|United Kingdom|
|      13835|     22505|United Kingdom|
|      13835|     22596|United Kingdom|
|      13835|     22307|United Kingdom|
|      13835|     21155|United Kingdom|
|      13835|     21086|United Kingdom|
|      13835|     21086|United Kingdom|
|      13835|     22998|United Kingdom|
|      13835|    47590A|United Kingdom|
|      13835|     22821|United Kingdom|
|      13835|     85048|United Kingdom|
+-----------+----------+--------------+
only showing top 20 rows

## Add, Drop and Rename column

In [24]:
# Let's try adding, dropping, renaming columns and also perform some aggregate functions on the dataframe
# We need to import additional libraries

from pyspark.sql.functions import col

In [25]:
# Add a new derived column to the DataFrame, let's call the new dervied column as "total_sales" which is derived by multipying quantity with unit_price for each transaction

DerivedColDF = salesDF.withColumn("total_sales", col("quantity").cast("Integer") * col("unit_price").cast("Float"))
DerivedColDF.show(10)

+-----------+----------+---------+----------+--------------------+--------+----------+--------------+----------+-----------+
|customer_id|first_name|last_name|product_id|        product_desc|quantity|unit_price|       country|invoice_no|total_sales|
+-----------+----------+---------+----------+--------------------+--------+----------+--------------+----------+-----------+
|      13835|      Todd|    Logan|     21080|SET/6 RED SPOTTY ...|      12|      0.85|United Kingdom|    552309|  10.200001|
|      13835|      Todd|    Logan|     21080|SET/6 RED SPOTTY ...|      12|      0.85|United Kingdom|    559326|  10.200001|
|      13835|      Todd|    Logan|    47590B|YELLOW METAL CHIC...|       3|      5.45|United Kingdom|    552309|  16.349998|
|      13835|      Todd|    Logan|    46000S|BEACH HUT KEY CAB...|       4|      1.45|United Kingdom|    571657|        5.8|
|      13835|      Todd|    Logan|     21888|           BINGO SET|       4|      3.75|United Kingdom|    552309|       15.0|
|      13835|      Todd|    Logan|     21936|KNITTED RABBIT DOLL |       5|      2.95|United Kingdom|    552309|      14.75|
|      13835|      Todd|    Logan|     21936|KNITTED RABBIT DOLL |      10|      2.95|United Kingdom|    559326|       29.5|
|      13835|      Todd|    Logan|     22728|ALARM CLOCK BAKEL...|       4|      3.75|United Kingdom|    571657|       15.0|
|      13835|      Todd|    Logan|     23343|MIRRORED WALL ART...|      10|      2.08|United Kingdom|    571657|       20.8|
|      13835|      Todd|    Logan|     23284|LASER CUT MULTI S...|       4|      7.95|United Kingdom|    552309|       31.8|
+-----------+----------+---------+----------+--------------------+--------+----------+--------------+----------+-----------+
only showing top 10 rows

In [38]:
#drop invoice number column from the DataFrame, am not storing this to a new variable, rather just showing how its done with Spark DataFrame
DerivedColDF.drop("invoice_no").show(10)

+-----------+----------+---------+----------+--------------------+--------+----------+--------------+-----------+
|customer_id|first_name|last_name|product_id|        product_desc|quantity|unit_price|       country|total_sales|
+-----------+----------+---------+----------+--------------------+--------+----------+--------------+-----------+
|      13835|      Todd|    Logan|     21080|SET/6 RED SPOTTY ...|      12|      0.85|United Kingdom|  10.200001|
|      13835|      Todd|    Logan|     21080|SET/6 RED SPOTTY ...|      12|      0.85|United Kingdom|  10.200001|
|      13835|      Todd|    Logan|    47590B|YELLOW METAL CHIC...|       3|      5.45|United Kingdom|  16.349998|
|      13835|      Todd|    Logan|    46000S|BEACH HUT KEY CAB...|       4|      1.45|United Kingdom|        5.8|
|      13835|      Todd|    Logan|     21888|           BINGO SET|       4|      3.75|United Kingdom|       15.0|
|      13835|      Todd|    Logan|     21936|KNITTED RABBIT DOLL |       5|      2.95|United Kingdom|      14.75|
|      13835|      Todd|    Logan|     21936|KNITTED RABBIT DOLL |      10|      2.95|United Kingdom|       29.5|
|      13835|      Todd|    Logan|     22728|ALARM CLOCK BAKEL...|       4|      3.75|United Kingdom|       15.0|
|      13835|      Todd|    Logan|     23343|MIRRORED WALL ART...|      10|      2.08|United Kingdom|       20.8|
|      13835|      Todd|    Logan|     23284|LASER CUT MULTI S...|       4|      7.95|United Kingdom|       31.8|
+-----------+----------+---------+----------+--------------------+--------+----------+--------------+-----------+
only showing top 10 rows

In [40]:
# Rename an existing column to a new name, am not storing this to a new variable, rather just showing how its done with Spark DataFrame
DerivedColDF.withColumnRenamed("quantity","qty").show(10)

+-----------+----------+---------+----------+--------------------+---+----------+--------------+----------+-----------+
|customer_id|first_name|last_name|product_id|        product_desc|qty|unit_price|       country|invoice_no|total_sales|
+-----------+----------+---------+----------+--------------------+---+----------+--------------+----------+-----------+
|      13835|      Todd|    Logan|     21086|  POLKADOT RAIN HAT | 12|      0.65|United Kingdom|    552309|  7.7999997|
|      13835|      Todd|    Logan|     21086|  POLKADOT RAIN HAT | 12|      0.65|United Kingdom|    559326|  7.7999997|
|      13835|      Todd|    Logan|     22821|ASSORTED COLOURS ...| 12|      0.65|United Kingdom|    571657|  7.7999997|
|      13835|      Todd|    Logan|     85048|CREAM SWEETHEART ...|  2|      7.95|United Kingdom|    571657|       15.9|
|      13835|      Todd|    Logan|     85048|CREAM SWEETHEART ...|  2|      7.95|United Kingdom|    576346|       15.9|
|      13835|      Todd|    Logan|     22355|CHARLOTTE BAG SUK...| 10|      0.85|United Kingdom|    576346|        8.5|
|      13835|      Todd|    Logan|    72807C|SET/3 VANILLA SCE...|  4|      4.25|United Kingdom|    559326|       17.0|
|      13835|      Todd|    Logan|     23332|SET OF 6 SNACK LO...| 12|      1.65|United Kingdom|    576346|       19.8|
|      13835|      Todd|    Logan|     23431|BLUE/YELLOW CERAM...| 12|      0.83|United Kingdom|    576346|       9.96|
|      13835|      Todd|    Logan|     23487| PANTRY HOOK SPATULA|  1|      9.95|United Kingdom|    571657|       9.95|
+-----------+----------+---------+----------+--------------------+---+----------+--------------+----------+-----------+
only showing top 10 rows

## Aggregation

In [26]:
# Spark provides powerful functions using which we can efficiently perform complex data analytics like aggregations, joins etc
# With the sales DataFrame we have, we will perform data analysis by using aggregate function to see total sales by Customer, total sales by Customer by Product, total revenue by country.

#Total sales by Customer, renamed aggregate column to a new name 
totalSalesbyCustDF = DerivedColDF.groupBy("customer_id").sum("total_sales").withColumnRenamed("sum(total_sales)", "sum_sales")
totalSalesbyCustDF.show(10)

+-----------+------------------+
|customer_id|         sum_sales|
+-----------+------------------+
|      13638|122.63999938964844|
|      13263| 7601.319960206747|
|      17979| 737.8100007176399|
|      13715|1088.2400034666061|
|      12725| 402.3000020980835|
|      14705|             179.0|
|      13098|29148.479726672173|
|      18147|179.33999729156494|
|      17102|              25.5|
|      14808|2175.3700006604195|
+-----------+------------------+
only showing top 10 rows

In [27]:
# Total sales by Customer by Product

totalSalesbyCustProdDF = DerivedColDF.groupBy("customer_id", "product_id").sum("total_sales").withColumnRenamed("sum(total_sales)", "sum_sales")
totalSalesbyCustProdDF.show(10)

+-----------+----------+------------------+
|customer_id|product_id|         sum_sales|
+-----------+----------+------------------+
|      13835|    47590B|16.349998474121094|
|      13835|     23487| 9.949999809265137|
|      15400|     21878|  71.4000015258789|
|      16805|    85049E|              1.25|
|      16805|     22621|1.4500000476837158|
|      16805|     21889|              1.25|
|      14825|     20768| 2.549999952316284|
|      14825|     22219| 6.800000190734863|
|      14825|     22296|19.799999237060547|
|      13934|     22722|15.800000190734863|
+-----------+----------+------------------+
only showing top 10 rows

In [28]:
# Total sales by Country

totalSalesbyCountryDF = DerivedColDF.groupBy("country").sum("total_sales").withColumnRenamed("sum(total_sales)", "sum_sales")
totalSalesbyCountryDF.show(10)

+------------------+------------------+
|           country|         sum_sales|
+------------------+------------------+
|              EIRE|266116.73906064034|
|         Lithuania|1661.0599565505981|
|European Community|1240.7500128746033|
|            Norway| 35163.45992398262|
|             Spain|  54926.2302082628|
|           Belgium| 40893.08015060425|
|             Japan| 35340.61988157034|
|            Sweden|36595.909824848175|
|           Denmark| 18768.14003944397|
|           Finland|22397.540030241013|
+------------------+------------------+
only showing top 10 rows

## Filter Data

In [72]:
# Now let's filter the data from DataFrame, this is much straight forward to use where clause as with teh traditional SQL

#Filter data by country = "United Kingdom"
filteredDF = DerivedColDF.where("country == 'United Kingdom'")
filteredDF.show(10)

+-----------+----------+---------+----------+--------------------+--------+----------+--------------+----------+-----------+
|customer_id|first_name|last_name|product_id|        product_desc|quantity|unit_price|       country|invoice_no|total_sales|
+-----------+----------+---------+----------+--------------------+--------+----------+--------------+----------+-----------+
|      13835|      Todd|    Logan|     21080|SET/6 RED SPOTTY ...|      12|      0.85|United Kingdom|    552309|  10.200001|
|      13835|      Todd|    Logan|     21080|SET/6 RED SPOTTY ...|      12|      0.85|United Kingdom|    559326|  10.200001|
|      13835|      Todd|    Logan|    47590B|YELLOW METAL CHIC...|       3|      5.45|United Kingdom|    552309|  16.349998|
|      13835|      Todd|    Logan|    46000S|BEACH HUT KEY CAB...|       4|      1.45|United Kingdom|    571657|        5.8|
|      13835|      Todd|    Logan|     21888|           BINGO SET|       4|      3.75|United Kingdom|    552309|       15.0|
|      13835|      Todd|    Logan|     21936|KNITTED RABBIT DOLL |       5|      2.95|United Kingdom|    552309|      14.75|
|      13835|      Todd|    Logan|     21936|KNITTED RABBIT DOLL |      10|      2.95|United Kingdom|    559326|       29.5|
|      13835|      Todd|    Logan|     22728|ALARM CLOCK BAKEL...|       4|      3.75|United Kingdom|    571657|       15.0|
|      13835|      Todd|    Logan|     23343|MIRRORED WALL ART...|      10|      2.08|United Kingdom|    571657|       20.8|
|      13835|      Todd|    Logan|     23284|LASER CUT MULTI S...|       4|      7.95|United Kingdom|    552309|       31.8|
+-----------+----------+---------+----------+--------------------+--------+----------+--------------+----------+-----------+
only showing top 10 rows

## Persist Data

In [74]:
# First option to persist data to S3

# Write dataframe directly to S3 as a Parquet file

DerivedColDF.write.parquet("s3://redshift-spark-integration/data/tgt/data")

In [31]:
# For simplicity and to write to Glue Data Catalog, we can convert the Spark DataFrame back to Glue DynamicFrame and write to either S3 directly or to Catalog

# Conver back to DynamicFrame
from awsglue.dynamicframe import DynamicFrame

DerivedColDyF = DynamicFrame.fromDF(DerivedColDF,glueContext, "convert")

In [80]:
# Write data to S3 using DynamicFrame

glueContext.write_dynamic_frame_from_options(
    frame=DerivedColDyF,
    connection_type = "s3",
    connection_options = {"path":"s3://redshift-spark-integration/data/tgt/"},
    format = "parquet")

<awsglue.dynamicframe.DynamicFrame object at 0x7f0b2b75ec50>

In [33]:
glueContext.write_dynamic_frame.from_catalog(
    frame=DerivedColDyF,
    database = "retail_s3",
    table_name = "tgt")

<awsglue.dynamicframe.DynamicFrame object at 0x7f7f5053b1d0>